* {
    background-color: #f9f9f9;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}